<div>
    {{> header}}
</div>

{{!-- Login --}}
<div class="m-4">
    {{#if user}}
        <div class="alert alert-primary row">
            <span class="col">
            Bienvenido {{user.name}}
            </span> 
            <a class="btn btn-info col" href="../views/logout.hbs">Cerrar sesión</a>
        </div>
	{{/if}}
</div>

{{!-- Formulario nuevo ítem --}}
<div class="m-4">
    <div class="row justify-content-center">
        <div class="card p-2 align-items-center" style="width: 40rem;">
            <div class="card p-2" style="width: 20rem;">
                <form onsubmit="addProduct()">
                    <h4 class="text-center m-2">Formulario nuevo ítem</h4>
                    <hr>
                    <div class="mb-2">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" name="name" id="name" class="form-control" required />
                    </div>
                    <div class="mb-2">
                        <label for="price" class="form-label">Precio</label>
                        <input type="number" name="price" id="price" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label">Url Imagen</label>
                        <input type="text" name="img" id="img" class="form-control" required />
                    </div>
                    <input type="submit" value="ENVIAR" class="btn btn-outline-secondary w-100" />
                </form>
            </div>
            <div id="products"></div>
        </div>
    </div>
</div>

{{!-- Chat --}}
<div class="row mb-4 justify-content-center">
    <div class="card p-2" style="width: 30rem;">
        <h4 class="text-center m-2">Chat</h4>
        <hr>
        {{!-- <div id="messages"></div>
        <form onsubmit="addMessage()" class="mt-2 d-flex justify-content-center">
            <input type="mail" id="mail" placeholder="Email:" required>
            <input type="text" id="msg" placeholder="Mensaje:" required>
            <div>
                <input type="submit" value="Enviar" class="btn btn-outline-secondary" >
            </div>
        </form> --}}
        <form id="messages">

            <label for="email">Email</label>
            <input type="text" id="email" name="email">

            <label for="message">Mensaje</label>
            <input type="text" id="message" name="message">

            <label for="age">Edad</label>
            <input type="number" id="age" name="age">

            <label for="alias">Alias</label>
            <input type="text" id="alias" name="alias">

            <label for="avatar">Avatar</label>
            <input type="text" id="avatar" name="avatar">

            <label for="name">Nombre</label>
            <input type="text" id="name" name="name">

            <label for="lastname">Apellido</label>
            <input type="text" id="lastname" name="lastname">

            <button type="submit">Submit</button>
        </form>
        <div id="errors">

        </div>
        <hr>
        <div id="compression"></div>
        <div >
            <ul id="chat">
            {{#if messages}}
            
                {{#each messages}}
                    <li>
                        <span style="color: blue; font-weight: 600;">{{this.author.id}}: </span>
                        <span style="color: brown;">[{{this.date}}]</span>
                        <span style="color: green; font-style: italic;">{{this.text}}</span>
                    </li>
                {{/each}}
            {{else}}
                <span>No hay mensajes</span>
            {{/if}}
            </ul>

        </div>
    </div>
</div>
    <script src='../main.js'></script>